* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
  font-size: 3em;
  color:  #120c36;
  text-shadow: 0 0 3px black;
}

body{
  padding:50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;  
  min-height: 2000px;

}
body::before {
  display: table;
  content: ' ';
  height:125px; /* or whatever */
}
.navbar-header button.navbar-toggle{
  clear:both;

}
.navbar-default .navbar-brand{
  color: mediumpurple;
  text-shadow: 0 0 1px black;
  font-size: 2.5em;
  padding-left: 2px;
}
.navbar-fixed-top{
  background-color:#191947;
  opacity: 95% ;

}
.navbar-default .navbar-toggle{
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  color:white;
}

.navbar-default .navbar-nav>li>a:hover{
  color:mediumpurple;
}

#collapsable-nav{
  clear: both;
}

#nav-list{
  clear: both;
}
#collapsable-nav li{
  clear: both;
}
.row{
  margin:0 ;
padding: 20px ;
width: 100%;
  
}
.nav>li>a {
text-align: center;
font-size: larger;
clear: both;
}


.row .container-fluid{
    width: 100%;
    overflow: none;
    background-color: grey;
     opacity: 85%;
}
#content-header{
  position: absolute;
  top: 0;
  right: 20px;
  border: 4px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  margin: 0;
 

  text-align: center;
  font-weight: bold;
  font-size: 125%;
  overflow: none;
}

#content{
  height: auto;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 1%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-header{
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;

}
#header1 {
  background-color: #621514;
  color: white;
  
}

#header2{
  color: white;
  background-color:   #458b74;
}
#header3{
  background-color:   #ffe4c4;
  color: #cd2626 ;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
